@import "susy";

$susy : (
  columns: 5,
  debug: (image: show)
);

.wrap {
  @include container(1140px);
  // Forces wrap to full height.
  height: 100vh;

  // Changing to a 8 column grid
  @media (min-width: 800px) {
    @include show-grid(8);
  }

  // Changing to a 12 column grid
  @media (min-width: 1200px) {
    @include show-grid(12);
  }
}
